@charset "UTF-8";
	
:root {
	--main-color: #000;
	--sub-color: #FFF;
	--bg-color1: #4F0600;
	--bg-color2: #830E04;
	--text-color1: #666;
	--text-color2: #EEE;
	--text-color3: #FFE400;
	--line-color: #84514D;
	--point-color: #CF160C;
}

*,
* ::before
* ::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	font-family: "Roboto Condensed", "Noto Sans KR", Sans-serif;
	color: var(--sub-color);
	font-size: .7rem;
	background-color: var(--bg-color1);
}

a, a:link {
	color: inherit;
	text-decoration: none;
}

ul,ol {
	list-style: none;
}

form, fieldset, legend {
	margin: 0;
	padding: 0;
}

.d-none {
	display: none;
}

.justify-center {
	justify-content: center;
}

.justify-between {
	justify-content: space-between;
}

.align-center {
	align-content: center;
}

.align-slef-center {
	align-self: center;
}

.align-content-center {
	align-content: center;
}

.text-cap {
	text-transform: capitalize;
}

.text-upper {
	text-transform: uppercase;
}

.text-lower {
	text-transform: lowercase;
}

.gap-1 {
	gap: 1rem;
}

.gap-2 {
	gap: 2rem;
}

.gap-3 {
	gap: 3rem;
}

.py-1 {
	padding: 1rem;
}

.py-2 {
	padding: 2rem;
}

.bg-light {
	background-color: var(--sub-color)
}

.bg-dark {
	background-color:
}

.h-400{
	height: 400px;
}

.container {
	max-width: 800px;
}

.mx-auto {
	margin: 0 auto;
}

.top-links a {
	color: var(--text-color1)
}

.d-flex {
	display: flex;
}

/* =============== position ================ */

.pos-absolute {
	position: absolute;
}

.pos-relative {
	position: relative;
}

.bottom-35 {
	bottom: -35Px;
}

.text-dark {
	color:
	
/* =============== slogan text ================*/

.st-1 {
	color: var(--main-color);
	font-size: 3rem;
}

.st-2 {
	color: var(--point-color);
	font-size: 3rem;
}

.st-3 {
	color: var(--sub-color);
	font-size: 4.5rem;
}

.build-xy {
	left: 0;
	top: 50px;
}
	
.body-xy {
	left: 0;
	top: -50px;
}